<h1 class="center-align">All Games</h1>
<table class="hoverable">
  <thead>
    <tr>
      <th data-field="id"><h4>Title</h4></th>
      <th data-field="name" class="center-align"><h4>Min Players</h4></th>
      <th data-field="price" class="center-align"><h4>Max Players</h4></th>
    </tr>
  </thead>
  <tbody>
    <!-- Need to implement logic to show user's games when logged in -->
    <% @games.each do |game| %>
      <tr>
        <td><a href="/games/<%= game.id %>"><%= game.name %></a></td>
        <td class="center-align"><%= game.min_players %></td>
        <td class="center-align"><%= game.max_players %></td>
      </tr>
    <% end %>
  </tbody>
</table>