<% unless @games.empty? %>
  <h1>Games</h1>
  <% @games.each do |game| %>
    <%= render partial: "games/game", locals: {game: game} %>
  <% end %>
<% end %>

<% unless @categories.empty? %>
  <h1>Categories</h1>
  <% @categories.each do |category| %>
    <%= render partial: "categories/category", locals: {category: category} %>
  <% end %>
<% end %>

<% if @games.empty? && @categories.empty? && @users.empty? %>
  <h1>Sorry, no results matched your search. Please try again.</h1>
<% end %>