<h1 class="center-align">My Games</h1>
<div class="row">
  <% @games.each do |game| %>
    <div class="col s12 m6 l6 offset-l3">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title"><%= game.name %></span>
        <p><%= game.description %></p>
      </div>
      <div class="card-action">
        <a href="/games/<%= game.id %>">Show me this game</a>
      </div>
    </div>
  </div>
  <% end %>
</div>
