<nav>
  <div class="nav-wrapper blue-grey darken-1">
    <a href="/users" class="brand-logo">GameShelf</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if current_user %>
        <li><a href="/login">Logout</a></li>
      <% else %>
        <li><a href="/login/new">Login</a></li>
        <li><a href="/users/new">Create Account</a></li>
      <% end %>
      <li>
        <form>
          <div class="input-field sm">
            <input id="search" type="search" required>
            <label for="search"><i class="material-icons">search</i></label>
          </div>
        </form>
      </li>
    </ul>
  </div>
</nav>
