<div class="row">
    <form class="col s9" id="login" action="/login" method="POST">
        <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
        <div class="row">
            <div class="input-field col s4">
                <input name="username" type="text" class="validate">
                <label for="username">Username</label>
            </div>
            <div class="input-field col s4">
                <input name="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
            <div class="input-field col s2">
                <button class="btn waves-effect waves-light" type="submit" name="login">Login
                    <i class="material-icons">send</i>
                </button>
            </div>
        </div>
    </form>
</div>
