.friends-link a {
  color: #ff5722;
  font-size: 150%;
  margin-left: 20px;
}

.friends-link a:hover {
  font-style: italic;
}

.game-count {
  padding-top: 2.6em;
}

.add-friend {
  margin-top: 1em;
}

