.game-card-title {
  font-size: 200%;
}

.game-card-title a {
  color: #CFF09E;
  font-weight: bold;
}
.game-card-title a:hover {
  font-style: italic;
}

#min-max {
  color: #ffab40;
}

.players {
  text-indent: 20px;
}

